<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--数据库类型-LocalHost-AliYunTest-AliYun-->
    <add key="DataBase" value="LocalHost" />
    <!--是否发布环境-->
    <add key="IsRelease" value="false" />
    <!--是否外网环境-->
    <add key="IsExtranet" value="true" />
  </appSettings>
</configuration>